@model Food.ViewModel.SearchMealViewModel



@{ Layout = "~/Views/Shared/_Layout.cshtml"; }



<div id="main">

    <div id="title">Twoje posiłki:</div>

    <form>

        @foreach (var meal in Model.Meals)
        {
        <label>
            <input class="meal-input" value="@meal.Id" type="radio" required> @meal.Name
        </label>}
                
        <div class="meal-name-form">
            Nowa nazwa posilku <input class="meal-name-input" type="text">
            <input class="save-button" type="button" value="Zapisz">
        </div>

        <input class="edit-button" type="button" value="Edytuj">
        <input class="delete-button" type="button" value="Usuń">

        </form>

    <form>

        <div>

            <input type="text" class="inputfield" placeholder="Nazwa nowego posiłku" onfocus="this.placeholder=''" onblur="this.placeholder='Nazwa nowego posiłku'" name="new_category" required>
            @foreach (var ingredient in Model.Ingredients)
            {
                <label>
                    <input id="@ingredient.Name" type="checkbox" required /> @ingredient.Name
                    </label>            }
                <input type="submit" class="pushbutton ok_pushbutton" value="Dodaj">

        </div>

    </form>

</div>



<script>
    //const editButton = document.querySelector('.edit-button')
    //const deleteButton = document.querySelector('.delete-button')
    //const editInput = document.querySelector('.meal-name-input')
    //const editForm = document.querySelector('.meal-name-form')
    //const saveButton = document.querySelector('.save-button')

    //bindEvents();

    //function bindEvents() {
    //    editButton.onclick = displayEditForm
    //    deleteButton.onclick = deleteMeal
    //    saveButton.onclick = updateMeal

    //}

    //function updateMeal() {
    //    const meal = {

    //    }

    //    fetch("/ManageMeals/Update", {
    //        method: 'PATCH',
    //        headers: {
    //            'Content-Type': 'application/json'
    //        },
    //        body: JSON.stringify(requestData)
    //    })
    //}



    //function deleteMeal() {

    //    const selectedMeal = Array.from(document.querySelectorAll('meal-input')).find(meal => meal.checked)

    //    const meal = {
    //        id : parseInt(selectedMeal.value)
    //    }

    //        fetch("/ManageMeals/Delete", {
    //            method: 'DELETE',
    //            headers: {
    //                'Content-Type': 'application/json'
    //            },
    //            body: meal
    //        })
    //}

    //function displayEditForm() {
    //    editInput.style.display = 'block'

    //}

    //function hideEditForm() {
    //    editInput.style.display = 'none'

    //}
    const editButton = document.querySelector('.edit-button')
    const deleteButton = document.querySelector('.delete-button')
    const editInput = document.querySelector('.meal-name-input')
    const editForm = document.querySelector('.meal-name-form')
    const saveButton = document.querySelector('.save-button')



    hideEditForm();
    bindEvents();



    function bindEvents() {
        editButton.onclick = displayEditForm
        deleteButton.onclick = deleteMeal
        saveButton.onclick = updateMeal
    }



    function updateMeal() {
        hideEditForm()
        const selectedMeal = Array.from(document.querySelectorAll('.meal-input')).find(meal => meal.checked)



        const meal = {
            Id: parseInt(selectedMeal.value),
            Name: editInput.value,
            userId: 1
        }



        fetch("/ManageMeals/Update", {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(meal)
        })
    }



    function deleteMeal() {
        const selectedMeal = Array.from(document.querySelectorAll('.meal-input')).find(meal => meal.checked)



        const meal = {
            id: parseInt(selectedMeal.value),
            name: 'fds',
            userId: 1
        }



        fetch("/ManageMeals/Delete", {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(meal)
        })
    }



    function displayEditForm() {
        editForm.style.display = 'block'
    }



    function hideEditForm() {
        editForm.style.display = 'none'
    }



</script>


    