
@{ Layout = "~/Views/Shared/_LayoutWithoutNavigation.cshtml"; }

<div class="main col-md-12 centered">

    <div class="alert alert-success">
        Na podanego maila zostało wysłane nowe hasło.
    </div>

    <div class="title-name">
        Wpisz proszę maila, na który ma zostać wysłane nowe hasło.
    </div>

    <div class="m-3">
        <input class="email-forgot-password-input form-control w-25 mx-auto" type="text" placeholder="Email">
        <small class="form-text email-forgot-password-info registerAndLogin-form-info"></small>
    </div>

    <button class="but but-redirect" type="button"><span>Wyślij nowe hasło</span></button>

</div>

<script>
    const alertSuccess = document.querySelector('.alert');

    const info = document.querySelector('.email-forgot-password-info');
    const redirectButton = document.querySelector('.but-redirect');

    alertSuccess.style.display = 'none';
    info.innerHTML = "";

    redirectButton.onclick = sendNewPassword;

    function sendNewPassword() {

        const email = document.querySelector('.email-forgot-password-input').value;

        fetch(`/User/ForgotPasswordSendNewPassword?email=${email}`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then(response => response.json())
            .then(error => {
                if (error == 0) {
                    alertSuccess.style.display = 'block';
                    email.value = "";
                }
                else if (error == 1) {
                    info.innerHTML = "Wpisz adres email.";
                }
                else if (error == 2) {
                    info.innerHTML = "Adres email jest niepoprawny.";
                }
                else if (error == 3) {
                    info.innerHTML = "Brak użytkownika o takim adresie email.";
                }
            })
    }

    function hideInfos() {
        alertSuccess.style.display = 'none';
        info.innerHTML = "";
    }



</script>