@model IEnumerable<Food.Data.Models.Ingredient>

@{ Layout = "~/Views/Shared/_LayoutWithoutNavigation.cshtml"; }


<div class="col-md-12 centered">
    <div class="alert alert-success">
        <strong>Gratulacje!</strong> Udało Ci się utworzyć nowe konto. Na Twojego maila została wysłana wiadomość z linkiem aktywującym konto.
        Po aktywacji możliwe będzie zalogowanie się.
    </div>
    <div class="row align-items-center ">
        <div class="col-md-6 text-center border-danger border-right">

            Jeżeli masz problem z pomysłem na obiad, śniadanie, kolację, przekąskę lub deser, to ta aplikacja prawdopodobnie
            pomoże Ci go rozwiązać. To naprawdę proste bardzo proste - wybierasz składniki jakimi dyspanujesz a po chwili
            otrzymujesz przepisy na posiłki, jakie można z nich upichcić. Nieważne czy aktualnie Twoja lodówka jest zaopatrzona
            tylko w masło i mleko, czy też jest wypełniona pobrzegi. Baza danych posiada wiele przepisów, które i tak będziesz mógł
            zrealizować - od najaprostrzych do najbardziej skomplikowanych. Tyczy się to zarówno obiadów, jak i mniejszych posiłków.
            Dodatkową opcją jest możliwość dodawania, edytowania czy usuwania własnych składników oraz całych posiłków. Jeżeli
            masz przepis na Twoją ulubioną sałatkę, a nie ma jej w bazie, możesz go bez problemu dodać. Zarejestruj się i
            zobacz jakie to proste!

        </div>

        <div class="col-md-6 text-center">

                <div class="m-5">

                    <label class="title">Logowanie:</label>

                    <div class="m-2">
                        <input class="username-input form-control col-xs-2" type="text" placeholder="Email lub nazwa użytkownika">
                        <small class="form-text username-login-info registerAndLogin-form-info"></small>
                    </div>


                    <div class="m-2">
                        <div class="input-group">

                            <input class="password-input form-control border-right-0" type="password" placeholder="Hasło">
                            <button class="show-password-login-button border-left-0 border" type="button"><i class="fas fa-eye"></i></button>

                        </div>
                        <small class="form-text password-login-info registerAndLogin-form-info"></small>
                    </div>

                    <div>
                        <button class="login-button but but-login" type="button"><span>Zaloguj</span></button>
                    </div>

                </div>

                <div class=" m-5">

                    <label class="title">Rejestracja:</label>

                    <div class="m-2">
                        <input id="UserName" class="username-register-input form-control" type="text" placeholder="Nazwa użytkownika">
                        <small class="form-text username-register-info registerAndLogin-form-info"></small>
                    </div>

                    <div class="m-2">
                        <input class="email-register-input form-control" type="text" placeholder="Email">
                        <small class="form-text email-register-info registerAndLogin-form-info"></small>
                    </div>

                    <div class="m-2">
                        <div class="input-group">

                            <input class="password-register-input form-control" type="password" placeholder="Hasło">
                            <button class="show-password-register-button border-left-0 border" type="button"><i class="fas fa-eye"></i></button>

                        </div>
                        <small class="form-text password-register-info registerAndLogin-form-info"></small>
                    </div>

                    <div>
                        <button class="register-button but but-register" type="button"><span>Utwórz konto</span></button>
                    </div>

                </div>

        </div>
    </div>
</div>


<script>
    const alertSuccess = document.querySelector('.alert');

    const loginButton = document.querySelector('.login-button');
    const usernameInput = document.querySelector('.username-input');
    const usernameLoginInfo = document.querySelector('.username-login-info');
    const passwordInput = document.querySelector('.password-input');
    const showPasswordLoginButton = document.querySelector('.show-password-login-button');
    const passwordLoginInfo = document.querySelector('.password-login-info');

    const registerButton = document.querySelector('.register-button');
    const usernameRegisterInput = document.querySelector('.username-register-input');
    const usernameRegisterInfo = document.querySelector('.username-register-info');
    const emailRegisterInput = document.querySelector('.email-register-input');
    const emailRegisterInfo = document.querySelector('.email-register-info');
    const passwordRegisterInput = document.querySelector('.password-register-input');
    const showPasswordRegisterButton = document.querySelector('.show-password-register-button');
    const passwordRegisterInfo = document.querySelector('.password-register-info');

    var typingTimer;
    var doneTypingInterval = 2000;

    bindEvents();

    function bindEvents() {

        alertSuccess.style.display = 'none';

        loginButton.onclick = () => {
            hideInfos();
            login();
        }

        showPasswordLoginButton.onclick = () => {
            showHidePassword(passwordInput);
        }

        showPasswordRegisterButton.onclick = () => {
            showHidePassword(passwordRegisterInput);
        }

        registerButton.onclick = () => {
            hideInfos();
            register();

        }
        ///////////////
        //usernameRegisterInput.oninput = validateUsername
        waitUntilTypeAndCheck(usernameRegisterInput, usernameRegisterInfo, validateUsername);
    }

    function waitUntilTypeAndCheck(inputToCheck, fieldToClear, functionToExecute) {
        inputToCheck.addEventListener('keyup', () => {
            clearTimeout(typingTimer);
            if (inputToCheck.value) {
                fieldToClear.innerHTML = "";
                typingTimer = setTimeout(functionToExecute, doneTypingInterval);
            }
        });
    }

    function login() {
        var user = {
            //tu działa parser małe litery pierwsze na wielkie
            name: usernameInput.value,
            password: passwordInput.value
        };

        fetch(`/User/Login?usernameOrEmail=${user.name}&password=${user.password}`, {
            method: 'GET'
        })
            .then(response => response.json())
            .then(user => {
                if (user.success) {
                    localStorage.setItem('token', user.token);
                    localStorage.setItem('userId', user.id);

                    window.location.href = "\searchmeal"
                }
                else {
                    if (user.errorCode == 1) {
                        usernameLoginInfo.innerHTML = "Brak użytkownika o takiej nazwie.";
                    }
                    else if (user.errorCode == 2) {
                        usernameLoginInfo.innerHTML = "Wpisz nazwę użytkownika.";
                    }
                    else if (user.errorCode == 3) {
                        passwordLoginInfo.innerHTML = "Wpisz hasło.";
                    }
                    else if (user.errorCode == 4) {
                        passwordLoginInfo.innerHTML = "Użytkownik nieaktywny.";
                    }
                    else if (user.errorCode == 5) {
                        passwordLoginInfo.innerHTML = "Nieprawidłowe hasło";
                    }
                }
            })
    }

    function register() {
        var user = {
            //tu działa parser małe litery pierwsze na wielkie
            name: usernameRegisterInput.value,
            email: emailRegisterInput.value,
            password: passwordRegisterInput.value
        };

        fetch(`/User/Register?username=${user.name}&password=${user.password}&email=${user.email}`, {
            method: 'POST'
        })
            .then(response => response.json())
            .then(isRegistered => {
                if (isRegistered == 0) {
                    alertSuccess.style.display = 'block';
                    usernameRegisterInput.value = "";
                    passwordRegisterInput.value = "";
                    window.scrollTo(0, 0);
                }
                else if (isRegistered == 1) {
                    usernameRegisterInfo.innerHTML = "Użytkownik o nazwie \"" + usernameRegisterInput.value + "\" już istnieje.";
                }

                else if (isRegistered == 2) {
                    passwordRegisterInfo.innerHTML = "Hasło musi zawierać co najmniej 5 znaków w tym jedną cyfrę";
                }
                else if (isRegistered == 3) {
                    usernameRegisterInfo.innerHTML = "Nazwa użytkownika musi zawierać minimum jedną literę";
                }
                else if (isRegistered == 4) {
                    emailRegisterInfo.innerHTML = "Adres e-mail jest niepoprawny.";
                }

            })
    }

    function showHidePassword(passwordInput) {
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        }
        else
            passwordInput.type = "password";
    }

    function hideInfos() {
        alertSuccess.style.display = 'none';
        usernameLoginInfo.innerHTML = "";
        passwordLoginInfo.innerHTML = "";
        usernameRegisterInfo.innerHTML = "";
        passwordRegisterInfo.innerHTML = "";
    }

    function validateUsername() {
        fetch(`/User/ValidateUsername?username=${usernameRegisterInput.value}`)
            .then(response => response.text())
            .then(isValid => {
                if (isValid == 'false') {
                    usernameRegisterInfo.innerHTML = "Taki użytkownik już istnieje.";
                }
            })
    }
</script>