<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Food</title>
</head>
<body>
    <header>
        <div class="header">
            <i class=""<!-- ikona jedzenia --></i><b>Asystent jedzeniowy</b>
        </div>
    </header>
    @RenderBody()
</body>
</html>