<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Food</title>
    <link rel="stylesheet" href="~/css/main.css" />

</head>
<body>
    <div>
        <div class="napis">Asysatent</div>
        <div style="color:aqua">ADASDASD</div>
        @RenderBody()
    </div>
</body>
</html>
