<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Food</title>
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <div class="body">
        <div class="klasa">Asysatent</div> 
        @RenderBody()
    </div>
</body>
</html>
