@model IEnumerable<Food.Data.Models.Ingredient>

<div id="main">

    <div id="title">Twoje składniki:</div>

    <form>

        @foreach (var ingredient in Model)
        {
            <label>
                <input class="ingredient-input" name="ingredient" value="@ingredient.Id" type="radio" required> @ingredient.Name
            </label>
        }

        <input id="modal_window" type="button" value="Edytuj">
        <button class="delete-button" type="button">Usuń</button>

    </form>

    <form>

        <div>

            <input type="text" class="input-field" placeholder="Nazwa nowego składnika" onfocus="this.placeholder=''" onblur="this.placeholder='Nazwa nowego składnika'" name="new_category" required>
            <button class="add-button" type="button">Dodaj</button>

        </div>

    </form>


</div>

<script>

    const addButton = document.querySelector('.add-button');
    const deleteButton = document.querySelector('.delete-button');
    const addIngredientName = document.querySelector('.input-field');

    bindEvents();

    function bindEvents() {
        addButton.onclick = addIngredient
        deleteButton.onclick = deleteIngredient
    }

    function addIngredient()
    {
        var ingredient = {
            //tu działa parser małe litery pierwsze na wielkie
            name: addIngredientName.value,
            userId: parseInt(window.sessionStorage.getItem("userId"))
        };

        fetch("/ManageIngredients/AddIngredient", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(ingredient)

        })

    }

    function deleteIngredient()
    {
        const selectedIngredient = Array.from(document.querySelectorAll('.ingredient-input')).find(ingredient => ingredient.checked);

        console.log(selectedIngredient);

        const ingredient = {
            id: parseInt(selectedIngredient.value),
            name: 'daa',
            userId: parseInt(window.sessionStorage.getItem("userId"))
        }

        fetch('/ManageIngredients/DeleteIngredient', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(ingredient)
        })
    }

    //addButton.onclick = () => {



    //    var ingredient = {
    //        //tu działa parser małe litery pierwsze na wielkie
    //        name: addIngredientName.value,
    //        userId: 1
    //    };



    //    fetch("/ManageIngredients/AddIngredient", {
    //        method: 'POST',
    //        headers: {
    //            'Content-Type': 'application/json'
    //        },
    //        body: JSON.stringify(ingredient)

    //    })
    //}


</script>