@model IEnumerable<Food.Data.Models.Ingredient>

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="alert-add-ingredient alert alert-success alert-dismissible unseen">
    
    <strong>Gratulacje!</strong> Udało Ci się dodać nowy składnik do bazy.
</div>

<div class="alert-delete-ingredient alert alert-warning alert-dismissible unseen">
    
    Składnik został skasowany.
</div>

@*<div class="alert-delete-ingredient alert alert-warning alert-dismissible unseen">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Składnik został skasowany.
</div>*@

<div class="main">

    <div class="title">Utworzone przez Ciebie składniki:</div>

    <div class="ingredients-other m-3">
        
    </div>

    <div>
        <button class="delete-button but but-delete m-2"><span>Usuń składnik</span></button>
    </div>

    <div class="border-dark border-top mt-4 pt-4">
        <div class="title">Dodaj nowy składnik do Twojej bazy</div>


        <input class="input-field form-control w-50 mx-auto m-2" placeholder="Nazwa nowego składnika">
        <small class="form-text register-form-info"></small>

        <button class="add-button but but-add-or-search m-2"><span>Dodaj składnik</span></button>

    </div>

</div>