@model IEnumerable<Food.Data.Models.Ingredient>

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Gratulacje!</strong> Udało Ci się dodać nowy składnik do bazy.
</div>
<div class="main">

    <div class="title">Utworzone przez Ciebie składniki:</div>


    <div class="ingredients-other m-3">

        @foreach (var ingredient in Model)
        {
            if (ingredient.CategoryId == 15) ///////////warunek do zmiany
            {
                <label class="btn btn-outline-primary">
                    <input class="ingredient-input" name="ingredient" value="@ingredient.Id" type="radio"> @ingredient.Name
                </label>
            }

        }
    </div>

    <div>
        <button class="delete-button but but-delete m-2"><span>Usuń składnik</span></button>
    </div>

    <div class="ingredient-name-form">
        <input class="save-button" type="button" value="Zapisz">
    </div>

    <div class="border-dark border-top mt-4 pt-4">
        <div class="title">Dodaj nowy składnik do Twojej bazy</div>


            <input class="input-field form-control w-50 mx-auto m-2" placeholder="Nazwa nowego składnika">
            <small class="form-text register-form-info"></small>

        <input class="add-button btn btn-outline-success m-2" type="button" value="Dodaj składnik">

    </div>

</div>

<script>
    const alertSuccess = document.querySelector('.alert');
    const ingredientAddInfo = document.querySelector('.register-form-info');

    const ingredientsOther = document.querySelector('.ingredients-other');
    const addButton = document.querySelector('.add-button');
    const addIngredientName = document.querySelector('.input-field');
    const deleteButton = document.querySelector('.delete-button');
    const updateButton = document.querySelector('.update-button');
    const editInput = document.querySelector('.ingredient-name-input');
    const editForm = document.querySelector('.ingredient-name-form');
    const saveButton = document.querySelector('.save-button');

    hideEditForm();
    bindEvents();

    function bindEvents() {

        displayMessegeIfDivIsEmpty(ingredientsOther, "Brak własnych składników");
        alertSuccess.style.display = 'none';

        addButton.onclick = () => {
            hideInfos();
            addIngredient();
        }
        deleteButton.onclick = deleteIngredient
    }

    function displayMessegeIfDivIsEmpty(checkedDiv, message) {
        if (!$(checkedDiv).children().length > 0) {
            checkedDiv.innerHTML = message;
            deleteButton.style.display = 'none';
        }
    }

    function addIngredient() {
        var ingredient = {
            //tu działa parser małe litery pierwsze na wielkie
            name: addIngredientName.value,
            categoryId: 11,
            //userId: parseInt(window.sessionStorage.getItem("userId"))
            userId: 1
        };

        fetch("/ManageIngredients/AddIngredient", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(ingredient)

        })
        .then(response => response.json())
        .then(isAdded => {
            if (!isAdded)
                ingredientAddInfo.innerHTML = "Składnik o nazwie \"" + ingredient.name + "\" już istnieje. Dodaj inny."
            else {
                alertSuccess.style.display = 'block';
            }
                
        })

        

    }

    function deleteIngredient() {
        const selectedIngredient = Array.from(document.querySelectorAll('.ingredient-input')).find(ingredient => ingredient.checked);

        const ingredient = {
            id: parseInt(selectedIngredient.value),
            name: 'daa',
            //userId: parseInt(window.sessionStorage.getItem("userId"))
            userId: 1
        }

        fetch('/ManageIngredients/DeleteIngredient', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(ingredient)
        })

        setTimeout(function () {
            window.location.reload();
        }, 500); 
    }

    function displayEditForm() {
        editForm.style.display = 'block'
    }


    function hideEditForm() {
        editForm.style.display = 'none'
    }

    function hideInfos() {
        alertSuccess.style.display = 'none';
        ingredientAddInfo.innerHTML = "";
    }

</script>