@model IEnumerable<Food.Data.Models.Ingredient>

<div id="main">

    <div id="title">Twoje składniki:</div>

    <form>

        @foreach (var ingredient in Model)
        {
            <label>
                <input id="@ingredient.Name" type="radio" required> @ingredient.Name
            </label>
        }

        <input id="modal_window" type="button" value="Edytuj">
        <input type="submit" value="Usuń">

    </form>

    <form>

        <div>

            <input type="text" class="input-field" placeholder="Nazwa nowego składnika" onfocus="this.placeholder=''" onblur="this.placeholder='Nazwa nowego składnika'" name="new_category" required>
            <button class="add-button" type="button">Dodaj</button>

        </div>

    </form>

</div>

<script>
    const addButton = document.querySelector('.add-button');
    const addIngredientName = document.querySelector('.input-field');

    addButton.onclick = () => {

        var ingredient = {
            name: addIngredientName.value,
            userId: 1
        };

        fetch("/ManageIngredients/AddIngredient", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(ingredient)

        })        
    }
</script>