@model IEnumerable<Food.Data.Models.Ingredient>

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="main">

    <div class="title">Twoje składniki (usunąć można tylko składniki zapisane przez użytkownika:</div>


    <div class="ingredients-other m-3">
        <div style="font-weight: bold">Inne</div>
        @foreach (var ingredient in Model)
        {
            if (ingredient.CategoryId == 11) ///////////warunek do zmiany
            {
                <label class="btn btn-outline-primary">
                    <input class="ingredient-input" name="ingredient" value="@ingredient.Id" type="radio"> @ingredient.Name
                </label>
            }

        }
    </div>

    <div>
        <input class="delete-button btn btn-outline-danger m-2" type="button" value="Usuń składnik">
    </div>

    <div class="ingredient-name-form">
        <input class="save-button" type="button" value="Zapisz">
    </div>

    <div class="title border-dark border-top m-4 pt-4">
        Dodaj nowy składnik do Twojej bazy

        <input class="input-field form-control w-25 mx-auto m-2" placeholder="Nazwa nowego składnika">
        <input class="add-button btn btn-outline-success m-2" type="button" value="Dodaj składnik">

    </div>

</div>

<script>

    const addButton = document.querySelector('.add-button');
    const addIngredientName = document.querySelector('.input-field');
    const deleteButton = document.querySelector('.delete-button');
    const updateButton = document.querySelector('.update-button');
    const editInput = document.querySelector('.ingredient-name-input');
    const editForm = document.querySelector('.ingredient-name-form');
    const saveButton = document.querySelector('.save-button');

    hideEditForm();
    bindEvents();

    function bindEvents() {
        addButton.onclick = addIngredient
        deleteButton.onclick = deleteIngredient
    }

    function addIngredient() {
        var ingredient = {
            //tu działa parser małe litery pierwsze na wielkie
            name: addIngredientName.value,
            categoryId: 11,
            //userId: parseInt(window.sessionStorage.getItem("userId"))
            userId: 1
        };

        fetch("/ManageIngredients/AddIngredient", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(ingredient)

        })

        setTimeout(function () {
            window.location.reload();
        }, 500); 

    }

    function deleteIngredient() {
        const selectedIngredient = Array.from(document.querySelectorAll('.ingredient-input')).find(ingredient => ingredient.checked);

        const ingredient = {
            id: parseInt(selectedIngredient.value),
            name: 'daa',
            //userId: parseInt(window.sessionStorage.getItem("userId"))
            userId: 1
        }

        fetch('/ManageIngredients/DeleteIngredient', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(ingredient)
        })

        setTimeout(function () {
            window.location.reload();
        }, 500); 
    }

    function displayEditForm() {
        editForm.style.display = 'block'
    }


    function hideEditForm() {
        editForm.style.display = 'none'
    }

</script>