<div id="main">
	
	<div id="title">Co masz w lodówce?</div>
		
	<form id="formIncome">
			
		<div class="btn-group">
			<label>
				<input type="checkbox"> Masło
			</label>
		</div>
		
		<div class="btn-group">
			<label>
				<input type="checkbox"> Chleb
			</label>
		</div>
		
		<div class="btn-group">
			<label>
				<input type="checkbox"> Sól
			</label>
		</div>
		
		<div class="btn-group">
			<label>
				<input type="checkbox"> Szynka
			</label>
		</div>
								
		<div><input type="submit" value="Szukaj"></div>
							
	</form>

</div>