<header>
			<div class="header">
				<i class=""<!-- ikona jedzenia --></i><b>Asystent jedzeniowy</b>
			</div>
		</header>

<div>
	<h1>Logowanie</h1>

	<form method="post">

		<div>
			<label for="inputEmail">Email</label>
			<input type="email" id="inputEmail" name="email" placeholder="Email"/>
		</div>
		<div>
			<label for="inputPassword">Hasło</label>
			<input type="password" id="inputPassword" name="password" placeholder="Hasło" />
		</div>
		<div>
			<label>
				<input type="checkbox" name="remember_me" checked="checked"/> Zapamiętaj mnie
			</label>
		</div>

		<button type="submit">Zaloguj</button>
		<a>Zapomniałeś hasła?</a>

	</form>
</div>
	
<div>
    <h1>Rejestracja</h1>

    <form method="post">

        <div>
            <label for="inputName">Imię</label>
            <input id="inputName" name="name" placeholder="Imię" autofocus required />
        </div>
        <div>
            <label for="inputEmail">Email</label>
            <input id="inputEmail" name="email" placeholder="Emal" required type="email" />
        </div>
        <div>
            <label for="inputPassword">Hasło</label>
            <input type="password" id="inputPassword" name="password" placeholder="Hasło" required />
        </div>

        <button type="submit">Zarejestruj</button>

    </form>
</div>