<div id="main">
		
	<form method="post">
		
		<div>
			
			<legend>Istniejące składniki</legend> 
				
			<div class="btn-group">
				<label>
				<input id = "Sól" type="radio" required> Sól</label>
			</div>
									
			<div class="btn-group">
						
				<label>
				<input id = "Chleb" type="radio" required> Chleb</label>
						
			</div>
									
			<div class="btn-group">
				<label>
				<input id = "Szynka" type="radio" name="category" value="37" required> Szynka</label>
			</div>
								
			<div>
				<input id="modal_window" type="button"  value="Edytuj">
				<input type="submit" value="Usuń">
			</div>

		</div>
			
	</form>
		
	<form method="post">
		
		<div>
		
			<legend>Nowy składnik</legend>
				
			<input type="text" class="inputfield" placeholder="Nazwa nowego składnika" onfocus="this.placeholder=''" onblur="this.placeholder='Nazwa nowego składnika'" name="new_category" required> 
				
			<input type="submit" class="pushbutton ok_pushbutton" value="Dodaj">
					
		</div>
		
	</form>

</div>