<div id="main">
	
	<div id="title">Dodaj posiłek:</div>
		
	<form method="post" id="formIncome">
		
		<div><input class="inputfield" placeholder="Nazwa posiłku" onfocus="this.placeholder=''" onblur="this.placeholder='Nazwa posiłku'" required></div>
				
		<legend>Wymagane składniki (z twojej bazy)</legend>
			
		<div class="btn-group">
			<label class="btn btn-outline-secondary">
				<input type="checkbox"> Ser
			</label>
		</div>
		
		<div class="btn-group">
			<label class="btn btn-outline-secondary">
				<input type="checkbox"> Szynka
			</label>
		</div>
								
		<div><input type="submit" class="pushbutton ok_pushbutton" value="Dodaj"></div>
							
	</form>

</div>